<div class="panel-heading-default">
  <a *ngIf="printbtnshow">
    <button
      (click)="window.print()"
      class="btn btn-primary"
      printSectionId="print-section"
      ngxPrint
      printTitle="My Channel Selection"
      [printStyle]="{ h5: { color: 'red' }, h5: { border: 'solid 1px' } }"
    >
      Print
    </button>
  </a>
  <button class="btn btn-success" (click)="savePDF()">
    PDF
  </button>
  <button class="btn btn-danger" (click)="clearAllChannel()">
    Reset All Selected Channel
  </button>
  <button class="btn btn-warning" (click)="refreshPage()">
    Refresh
  </button>
</div>

<div *ngIf="mandatorychannels?.length === 0" style="text-align: center;">
    <div class="loader"></div>
</div>

<div id="print-section" class="printhtml" #printhtml>
  <div
    class=""
    *ngIf="mandatorychannels != null && mandatorychannels.length > 0"
  >
    <h5 style="text-align: center;">Channel Selection & Bill Details</h5>
    <div style="overflow-x:auto;">
      <table>
        <tr>
          <th>Description</th>
          <th class="text-right">Qty/Price</th>
        </tr>
        <tr>
          <td>No. of Free Channels</td>
          <td class="text-right">{{ freechannelCount }}</td>
        </tr>
        <tr>
          <td>No. of Paid Channels</td>
          <td class="text-right">{{ channelCount }}</td>
        </tr>
        <tr>
            <td>HD channel</td>
            <td class="text-right">{{ hdCount }}</td>
          </tr>
          <tr>
            <td>SD channel</td>
            <td class="text-right">{{ sdCount }}</td>
          </tr>
        <tr>
          <td>Channel Count</td>
          <td class="text-right">{{ billCount }}</td>
        </tr>
        <tr>
          <td>Channel Price</td>
          <td class="text-right">{{ channelPrice }} ₹</td>
        </tr>
        <tr>
          <td>Bouquet Price</td>
          <td class="text-right">{{ bouquetPrice }} ₹</td>
        </tr>
        <tr>
          <td>Network Capacity Fees</td>
          <td class="text-right">{{ ncf }} ₹</td>
        </tr>
        <tr>
          <td>GST(18%)</td>
          <td class="text-right">{{ gstAmt }} ₹</td>
        </tr>
        <tr
          style="color: #0051a6; font-weight:bold; background-color: #ced4da;"
        >
          <td>Total Price(Monthly)</td>
          <td class="text-right">{{ priceChannelUser }} ₹</td>
        </tr>
      </table>
    </div>
  </div>

  <div *ngIf="bouquetList != null && bouquetList.length > 0">
    <br />
    <h5><a class="nav-link" routerLink="/bouquetlist">Bouquet Channels</a></h5>
    <div class="row">
      <div
        class="col-auto mb-3"
        *ngFor="let bouquetObj of bouquetList; let i = index"
        [attr.data-index]="i"
      >
        <div class="card">
          <div class="card-body">
            <h6 class="card-subtitle mb-2">
              {{ i + 1 }}. {{ bouquetObj.bouque }} &nbsp;&nbsp;&nbsp;
              <span class="pull-right" style="color: blueviolet;"
                >{{ bouquetObj.price }} ₹</span
              >
            </h6>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="paychannels != null && paychannels.length > 0">
    <br />
    <h5><a class="nav-link" routerLink="/paychannel">Pay Channels</a></h5>
    <div class="row">
      <div
        class="col-auto mb-3"
        *ngFor="let paychannel of paychannels; let i = index"
        [attr.data-index]="i"
      >
        <div class="card">
          <div class="card-body">
            <h6 class="card-subtitle mb-2">
              {{ i + 1 }}. {{ paychannel.Channel }}
              <span class="pull-right" style="color: blueviolet;"
                >{{ paychannel.price }} ₹</span
              >
            </h6>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="freechannels != null && freechannels.length > 0">
    <br />
    <h5><a class="nav-link" routerLink="/freechannel">Free Channels</a></h5>
    <div class="row">
      <div
        class="col-auto mb-3"
        *ngFor="let freechannel of freechannels; let i = index"
        [attr.data-index]="i"
      >
        <div class="card">
          <div class="card-body">
            <h6 class="card-subtitle mb-2">
              {{ i + 1 }}. {{ freechannel.Channel }}
            </h6>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="mandatorychannels != null && mandatorychannels.length > 0">
    <br />
    <h5><a class="nav-link" routerLink="/myCart">Mandatory Free Channel</a></h5>
    <div class="row">
      <div
        class="col-auto mb-3"
        *ngFor="let mandatorychannel of mandatorychannels; let i = index"
        [attr.data-index]="i"
      >
        <div class="card">
          <div class="card-body">
            <h6 class="card-subtitle mb-2">
              {{ i + 1 }}. {{ mandatorychannel.Channel }}
            </h6>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
