<div class="container">
  <h5>Important Link</h5>
    <ul class="list-group">
      <li class="list-group-item"><a href="https://github.com/pritamkhose/angular-channel-selection">Github</a></li>
      <li class="list-group-item"><a href="https://angular-channel-selection.stackblitz.io/">Stackblitz</a></li>
      <li class="list-group-item"><a href="http://channel-selection.s3-website.ap-south-1.amazonaws.com">Website</a></li>
    </ul>
  <br/>
  <h5>Addtional Link</h5>
  <ul class="list-group">
    <li class="list-group-item"><a href="https://angular-db-fa163.firebaseio.com/TRAIChannel.json">My Database </a></li>
    <li class="list-group-item"><a href="https://channel.trai.gov.in/">TRAI Website</a></li>
    <li class="list-group-item"><a href="https://channel.trai.gov.in/freechannels.php">TRAI Website for free channels</a></li>
    <li class="list-group-item"><a href="https://channel.trai.gov.in/data.php">TRAI Data </a></li>
    <li class="list-group-item"><a href="https://channel.trai.gov.in/compulsory.php"> TRAI Compulsory </a></li>
    <li class="list-group-item"><a href="https://channel.trai.gov.in/bouquetlist.json">TRAI bouquetlist </a></li>
    <li class="list-group-item"><a href="https://channel.trai.gov.in/languages.json">TRAI channels languages </a></li>
  </ul>
</div>
