<main role="main">

	<!-- Main jumbotron for a primary marketing message or call to action -->
	<div class="jumbotron">
		<div class="container">
			<h1 class="display-5">Hello,</h1>
			<p>You can select or deselect channels as per your wish. This is similar to a shopping cart in your online shopping experience.After selecting all channels of your choice FTA, A-La-carte pay channels, Bouquets of pay channels.</p>
		</div>
	</div>

	<div class="container">
		<!-- Example row of columns -->
		<div class="row">
			<div class="col-md-4">
				<h2>Free channel</h2>
				<p>No money's paid for free to Air (FTA) channels which are 534 in number at present.</p>
				<p><a class="btn btn-secondary" routerLink="/freechannel">View details »</a></p>
			</div>
			<div class="col-md-4">
				<h2>Pay channel</h2>
				<p>The MRP of paid channels is shown in rupees per month. </p>
				<p><a class="btn btn-secondary" routerLink="/paychannel">View details »</a></p>
			</div>
			<div class="col-md-4">
				<h2>Bouquet List</h2>
				<p>Bouquets on offer which will reduce your total monthly bill without reducing the channels you have selected.</p>
				<p><a class="btn btn-secondary" routerLink="/bouquetlist">View details »</a></p>
			</div>
		</div>

	</div> <!-- /container -->

</main>