<h2>Bouquet Channel List</h2>

<div class="panel-heading-default row container">
  <h6 style="margin-top:10px; margin-bottom:10px;">
    Bouquet Price = {{ priceChannelUser }}
  </h6>

  <input
    style="margin-left:20px; margin-bottom:10px;"
    type="text"
    [(ngModel)]="query"
    placeholder="Search"
  />

  <a (click)="refreshPage()">
    <button
      style="margin-left:20px; margin-bottom:10px;"
      class="btn btn-info pull-right"
    >
      Refresh
    </button>
  </a>
  <a (click)="clearBouquetList()">
    <button
      style="margin-left:20px; margin-bottom:10px;"
      class="btn btn-warning pull-right"
    >
      Clear
    </button>
  </a>
</div>

<div *ngIf="BroadcasterList?.length === 0" style="text-align: center;">
    <div class="loader"></div>
</div>
<!-- <div [innerHtml]="htmlVariable"></div> -->

<div
  style="margin-top:10px;"
  *ngFor="
    let objBroadcaster of (BroadcasterList | CustomBouquetPipe: query);
    let i = index
  "
  [attr.data-index]="i"
>
  <h5 class="BroadcasterList">{{ objBroadcaster.broadcastname }}</h5>
  <div
    *ngFor="let objPack of objBroadcaster.broadcastArr; let j = index"
    [attr.data-index]="j"
  >
    <h6
      *ngIf="objPack.buy; else loggedOut"
      style="height: 90%; width: 100%; background:lightskyblue;"
    >
      <table>
        <tr>
          <td (click)="getVisibility(objPack, i, j)">
            {{ objPack.index }}. &nbsp;&nbsp;&nbsp;<b>{{
              objPack.bouquetname
            }}</b>
            &nbsp;&nbsp;&nbsp; {{ objPack.bouquetprice }} ₹ [
            {{ objPack.channelsCount }} ]
          </td>
          <!-- <td (click)="getVisibility(objPack , i, j)"  class="text-right" >{{objPack.bouquetprice}} ₹ [ {{objPack.channelsCount}} ] </td> -->
          <td class="buy text-right" (click)="getBuy(objPack, i, j)">
            <button class="btn btn-success pull-right">Selected</button>
          </td>
        </tr>
      </table>
    </h6>
    <ng-template #loggedOut>
      <h6 style="height: 100%; width: 100%;">
        <table>
          <tr class="PackList">
            <td (click)="getVisibility(objPack, i, j)">
              {{ objPack.index }}.&nbsp;&nbsp;<b>{{ objPack.bouquetname }}</b>
              &nbsp;&nbsp;&nbsp; {{ objPack.bouquetprice }} ₹ [
              {{ objPack.channelsCount }} ]
            </td>
            <td class="buy text-right" (click)="getBuy(objPack, i, j)">
              <button class="btn btn-info pull-right">Buy</button>
            </td>
          </tr>
        </table>
      </h6>
    </ng-template>

    <div *ngIf="objPack.show" class="row">
      <div class="col-auto mb-3" *ngFor="let objChannel of objPack.channelsArr">
        <div class="card">
          <div class="card-body">
            <h6 class="card-subtitle mb-2">{{ objChannel.channel }}</h6>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
